div {
    background-color: #fff;
    padding: 20px 0 20px 20px;
    
    }
    button {
    
        background-color: #6C5CE7;
        color:  #fff;
        letter-spacing: 0.2px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: large;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    size: 18px;
    line-height: 32px;
    
    
    
    }
    #New {
        border-radius: 999px;
        background-color: #FDCB6E;
        color: #6C5CE7;
        size: 8px;
        border-width: 58px;
       }

   
    
    
    